# PixelPals - mascotas ignoradas
*.iml
.gradle/
/.gradle-local/
/.signing/
/local.properties
/.idea/
/build/
/app/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
venv/

# Python
__pycache__/
*.pyc
