<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".debug.MokiPreviewActivity"
            android:exported="true"
            android:label="@string/debug_moki_title"
            android:theme="@style/Theme.PixelPals" />
        <activity
            android:name=".debug.LumiDebugActivity"
            android:exported="true"
            android:label="@string/debug_lumi_title"
            android:theme="@style/Theme.PixelPals" />
        <activity
            android:name=".debug.LumiMasterPoseReviewActivity"
            android:exported="true"
            android:label="@string/debug_lumi_review_title"
            android:theme="@style/Theme.PixelPals" />
        <activity
            android:name=".debug.TaroDebugActivity"
            android:exported="true"
            android:label="@string/debug_taro_title"
            android:theme="@style/Theme.PixelPals" />
        <activity
            android:name=".debug.TelaDebugActivity"
            android:exported="true"
            android:label="@string/debug_tela_title"
            android:theme="@style/Theme.PixelPals" />
        <activity
            android:name=".debug.PetAtlasLabActivity"
            android:exported="true"
            android:label="PixelPals V2 Atlas Lab"
            android:theme="@style/Theme.PixelPals" />
        <service
            android:name=".debug.LumiDebugOverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="@string/debug_lumi_title">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="debug floating Lumi sprite trial" />
        </service>
        <service
            android:name=".debug.TaroDebugOverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="@string/debug_taro_title">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="debug floating Taro sprite trial" />
        </service>
        <receiver
            android:name=".debug.CareStateDebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.pixelpals.app.debug.SET_CARE_STATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
